[Desktop Entry]
Name=cosmic-toys Applet
Comment=Quick access to cosmic-toys utilities
Type=Application
Icon=color-select-symbolic
Exec=cosmic-toys-applet
Terminal=false
StartupNotify=true
Categories=COSMIC
Keywords=COSMIC;Color;Picker
NoDisplay=true
X-CosmicApplet=true
MimeType=
